# DM BE2 2024-25 : régles d'accociation (épicerie)
<font color="red"> (version élèves) </font>

## Extraction de règles d'association  
(avec le package mlextend, voir aussi "Apyori")

### Dataset Grocery : chaque ligne = un ticket de caisse

In [2]:
import pandas as pd

In [3]:
grocery = pd.read_csv("GroceryStoreDataSet.csv",header=None,names=['products']) #dataframe

In [4]:
df1 = grocery.copy() # Sauvegarde

In [5]:
df1.head() # 5 premières lignes du dataframe

                        products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [6]:
df1.values # Les tickets

array([['MILK,BREAD,BISCUIT'],
       ['BREAD,MILK,BISCUIT,CORNFLAKES'],
       ['BREAD,TEA,BOURNVITA'],
       ['JAM,MAGGI,BREAD,MILK'],
       ['MAGGI,TEA,BISCUIT'],
       ['BREAD,TEA,BOURNVITA'],
       ['MAGGI,TEA,CORNFLAKES'],
       ['MAGGI,BREAD,TEA,BISCUIT'],
       ['JAM,MAGGI,BREAD,TEA'],
       ['BREAD,MILK'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,COCK'],
       ['BREAD,SUGER,BISCUIT'],
       ['COFFEE,SUGER,CORNFLAKES'],
       ['BREAD,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,SUGER'],
       ['BREAD,COFFEE,SUGER'],
       ['TEA,MILK,COFFEE,CORNFLAKES']], dtype=object)

In [7]:
df1.shape # dimensions dataframe. df1 : 20 lignes, 1 coL.

(20, 1)

### QQ packages nécéssaires. 
### `mlextend` et `apyori` traitent les règles d'association.   
**mlextend** est plus complet.

In [14]:
if False :
    !pip install --upgrade pip
    !pip install mlxtend 
    !pip install apyori
    !pip install --upgrade ipykernel # ca a enlevé plein de warning 'Dereciated'

In [8]:

df=df1.copy()
df.shape

(20, 1)

In [9]:
df.columns #showing column names

Index(['products'], dtype='object')

In [10]:
# on split les lignes par ','. Cela sépare les produits 
data = list(df["products"].apply(lambda x:x.split(',')))

In [11]:
data[:3]

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA']]

In [12]:
len(data)

20

In [13]:
from mlxtend.preprocessing import TransactionEncoder

#### Binéariser : 
 mettre tous les produits en colonne et pour une colonne C, mettre Vrai si un ticket a acheté le produit C

In [17]:
te = TransactionEncoder()
# ???  te.columns_

In [18]:
df_binarisee = te.fit(data).transform(data)
df_tickets = pd.DataFrame(df_binarisee,columns=te.columns_)

In [19]:
df_tickets

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [20]:
# Rappels
df_binarisee #les paniers.

array([[ True, False,  True, False, False, False, False, False,  True,
        False, False],
       [ True, False,  True, False, False,  True, False, False,  True,
        False, False],
       [False,  True,  True, False, False, False, False, False, False,
        False,  True],
       [False, False,  True, False, False, False,  True,  True,  True,
        False, False],
       [ True, False, False, False, False, False, False,  True, False,
        False,  True],
       [False,  True,  True, False, False, False, False, False, False,
        False,  True],
       [False, False, False, False, False,  True, False,  True, False,
        False,  True],
       [ True, False,  True, False, False, False, False,  True, False,
        False,  True],
       [False, False,  True, False, False, False,  True,  True, False,
        False,  True],
       [False, False,  True, False, False, False, False, False,  True,
        False, False],
       [ True, False, False,  True,  True,  True, False, False, False,
        False, False],
       [ True, False, False,  True,  True,  True, False, False, False,
        False, False],
       [False,  True, False, False,  True, False, False, False, False,
         True, False],
       [False, False,  True,  True,  True, False, False, False, False,
        False, False],
       [ True, False,  True, False, False, False, False, False, False,
         True, False],
       [False, False, False, False,  True,  True, False, False, False,
         True, False],
       [False,  True,  True, False, False, False, False, False, False,
         True, False],
       [False, False,  True, False,  True, False, False, False, False,
         True, False],
       [False, False,  True, False,  True, False, False, False, False,
         True, False],
       [False, False, False, False,  True,  True, False, False,  True,
        False,  True]])

 ## Application de l'algo APRIORI

df est devenu df_tickets
def1 est devenu df_tickets_frequents

In [21]:
from mlxtend.frequent_patterns import apriori

In [22]:
df_tickets_frequents = apriori(df_tickets,min_support=0.2,use_colnames=True,verbose=1)
# garder ceux qui respectent la fréquence de 20%

Processing 42 combinations | Sampling itemset size 3

In [23]:
#df1
df_tickets_frequents

    support              itemsets
0      0.35             (BISCUIT)
1      0.20           (BOURNVITA)
2      0.65               (BREAD)
3      0.40              (COFFEE)
4      0.30          (CORNFLAKES)
5      0.25               (MAGGI)
6      0.25                (MILK)
7      0.30               (SUGER)
8      0.35                 (TEA)
9      0.20      (BREAD, BISCUIT)
10     0.20         (MILK, BREAD)
11     0.20        (SUGER, BREAD)
12     0.20          (BREAD, TEA)
13     0.20  (CORNFLAKES, COFFEE)
14     0.20       (SUGER, COFFEE)
15     0.20          (MAGGI, TEA)

### On trie selon la fréquence

In [24]:
df_tickets_frequents.sort_values(by="support",ascending=False)#sorting operation

    support              itemsets
2      0.65               (BREAD)
3      0.40              (COFFEE)
0      0.35             (BISCUIT)
8      0.35                 (TEA)
4      0.30          (CORNFLAKES)
7      0.30               (SUGER)
5      0.25               (MAGGI)
6      0.25                (MILK)
1      0.20           (BOURNVITA)
9      0.20      (BREAD, BISCUIT)
10     0.20         (MILK, BREAD)
11     0.20        (SUGER, BREAD)
12     0.20          (BREAD, TEA)
13     0.20  (CORNFLAKES, COFFEE)
14     0.20       (SUGER, COFFEE)
15     0.20          (MAGGI, TEA)

#### Ajout de la colonne length (taille de chaque panier)

In [25]:
df_tickets_frequents['length'] = df_tickets_frequents['itemsets'].apply(lambda x:len(x))#add length column to a dataframe
df_tickets_frequents

    support              itemsets  length
0      0.35             (BISCUIT)       1
1      0.20           (BOURNVITA)       1
2      0.65               (BREAD)       1
3      0.40              (COFFEE)       1
4      0.30          (CORNFLAKES)       1
5      0.25               (MAGGI)       1
6      0.25                (MILK)       1
7      0.30               (SUGER)       1
8      0.35                 (TEA)       1
9      0.20      (BREAD, BISCUIT)       2
10     0.20         (MILK, BREAD)       2
11     0.20        (SUGER, BREAD)       2
12     0.20          (BREAD, TEA)       2
13     0.20  (CORNFLAKES, COFFEE)       2
14     0.20       (SUGER, COFFEE)       2
15     0.20          (MAGGI, TEA)       2

## Extraction des règles et les mesures d'évaluation :

### leverage :  
- $levarage(A \rightarrow C)=support(A→C)−support(A)×support(C)$ dans l'intervalle  [−1,1]
- Leverage calcule la  différence entre les frequences observées de A et C qui apparaissent ensemble 
vs la fréquence attendue si A et C étaient independants. 
- <font color="red"> Un  leverage = 0 indique l'indépendance des deux.</font>

### lift (intérêt):   
- $lift(A→C)= \frac{confiance(A→C)}{support(C)}$ dans l'intervalle  [0,∞]
- Le Lift est utilisé pour mesurer combien l'antécédent (A) et la conséquence (C) d'une règle A->C apparaissent
ensemble vs. s'ils étaient statistiquement indépendantes. 
- <font color="red"> Si   A et C sont independents, le Lift sera= 1.  </font>
- <font color="red">  Si Lift>1 : association (corrélation) positive (resp. négative). </font>

### conviction :
- $conviction(A→C)= \frac{1−support(C)}{1−confiance(A→C)}$ dans l'intervalle [0,∞]
- <font color="red">  Une conviction élevée signifie que la conséquence de la règle dépend de l'antécédent.</font> 
- P. Ex. , en cas de score maximal de confiance, le dénominateur devient 0 (1-1) pour lequel la conviction ='inf'.
- <font color="red"> De manière similaire à  Lift, si les items sont indépendants, la conviction = 1..</font>

In [26]:
from mlxtend.frequent_patterns import association_rules

#### Note de version de la doc à propos du paramètre 'num_itemsets'
#### Utiliser `association_rules` de cette manière (problème de version)
rules = association_rules(frequent_items, num_itemsets=len(group_df), metric='confidence',min_threshold=0.7, num_itemsets=2)

In [27]:
rules1_bis=association_rules(df_tickets_frequents, num_itemsets=len(df_tickets),  metric = "confidence", min_threshold = 0.2)
# avec une confiance d'au moins 0.2 
rules1_bis

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BREAD),(BISCUIT),0.65,0.35,0.2,0.307692,0.879121,1.0,-0.0275,0.938889,-0.282051,0.250000,-0.065089,0.439560
1,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,1.0,-0.0275,0.816667,-0.174603,0.250000,-0.224490,0.439560
2,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,1.0,0.0375,1.750000,0.250000,0.285714,0.428571,0.553846
3,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,1.0,0.0375,1.083333,0.535714,0.285714,0.076923,0.553846
4,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,1.0,0.0050,1.050000,0.035714,0.266667,0.047619,0.487179
5,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,1.0,0.0050,1.011111,0.071429,0.266667,0.010989,0.487179
6,(BREAD),(TEA),0.65,0.35,0.2,0.307692,0.879121,1.0,-0.0275,0.938889,-0.282051,0.250000,-0.065089,0.439560
7,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,1.0,-0.0275,0.816667,-0.174603,0.250000,-0.224490,0.439560
8,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
9,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
10,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
11,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
12,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,1.0,0.1125,3.250000,0.750000,0.500000,0.692308,0.685714
13,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,1.0,0.1125,1.750000,0.865385,0.500000,0.428571,0.685714

In [28]:
rules1=association_rules(df_tickets_frequents, num_itemsets=len(df_tickets_frequents),  metric = "confidence", min_threshold = 0.2)
# avec une confiance d'au moins 0.2 
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BREAD),(BISCUIT),0.65,0.35,0.2,0.307692,0.879121,1.0,-0.0275,0.938889,-0.282051,0.250000,-0.065089,0.439560
1,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,1.0,-0.0275,0.816667,-0.174603,0.250000,-0.224490,0.439560
2,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,1.0,0.0375,1.750000,0.250000,0.285714,0.428571,0.553846
3,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,1.0,0.0375,1.083333,0.535714,0.285714,0.076923,0.553846
4,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,1.0,0.0050,1.050000,0.035714,0.266667,0.047619,0.487179
5,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,1.0,0.0050,1.011111,0.071429,0.266667,0.010989,0.487179
6,(BREAD),(TEA),0.65,0.35,0.2,0.307692,0.879121,1.0,-0.0275,0.938889,-0.282051,0.250000,-0.065089,0.439560
7,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,1.0,-0.0275,0.816667,-0.174603,0.250000,-0.224490,0.439560
8,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
9,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
10,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
11,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
12,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,1.0,0.1125,3.250000,0.750000,0.500000,0.692308,0.685714
13,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,1.0,0.1125,1.750000,0.865385,0.500000,0.428571,0.685714

Les résultats sont identiques car len(df_tickets_frequents) = len(df_tickets)       
Mieux vaut utiliser len(df_tickets)   ?

In [29]:
rules2=association_rules(df_tickets_frequents, metric = "support", min_threshold = 0.2,num_itemsets=len(df_tickets_frequents),)
## avec une fréquence d'au moins 0.2
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BREAD),(BISCUIT),0.65,0.35,0.2,0.307692,0.879121,1.0,-0.0275,0.938889,-0.282051,0.250000,-0.065089,0.439560
1,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,1.0,-0.0275,0.816667,-0.174603,0.250000,-0.224490,0.439560
2,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,1.0,0.0375,1.750000,0.250000,0.285714,0.428571,0.553846
3,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,1.0,0.0375,1.083333,0.535714,0.285714,0.076923,0.553846
4,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,1.0,0.0050,1.050000,0.035714,0.266667,0.047619,0.487179
5,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,1.0,0.0050,1.011111,0.071429,0.266667,0.010989,0.487179
6,(BREAD),(TEA),0.65,0.35,0.2,0.307692,0.879121,1.0,-0.0275,0.938889,-0.282051,0.250000,-0.065089,0.439560
7,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,1.0,-0.0275,0.816667,-0.174603,0.250000,-0.224490,0.439560
8,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
9,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
10,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
11,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
12,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,1.0,0.1125,3.250000,0.750000,0.500000,0.692308,0.685714
13,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,1.0,0.1125,1.750000,0.865385,0.500000,0.428571,0.685714

In [30]:
rules2_bis=association_rules(df_tickets_frequents, metric = "support", min_threshold = 0.2,num_itemsets=len(df_tickets))
## avec une fréquence d'au moins 0.2
rules2_bis

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BREAD),(BISCUIT),0.65,0.35,0.2,0.307692,0.879121,1.0,-0.0275,0.938889,-0.282051,0.250000,-0.065089,0.439560
1,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,1.0,-0.0275,0.816667,-0.174603,0.250000,-0.224490,0.439560
2,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,1.0,0.0375,1.750000,0.250000,0.285714,0.428571,0.553846
3,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,1.0,0.0375,1.083333,0.535714,0.285714,0.076923,0.553846
4,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,1.0,0.0050,1.050000,0.035714,0.266667,0.047619,0.487179
5,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,1.0,0.0050,1.011111,0.071429,0.266667,0.010989,0.487179
6,(BREAD),(TEA),0.65,0.35,0.2,0.307692,0.879121,1.0,-0.0275,0.938889,-0.282051,0.250000,-0.065089,0.439560
7,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,1.0,-0.0275,0.816667,-0.174603,0.250000,-0.224490,0.439560
8,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
9,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
10,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
11,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
12,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,1.0,0.1125,3.250000,0.750000,0.500000,0.692308,0.685714
13,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,1.0,0.1125,1.750000,0.865385,0.500000,0.428571,0.685714

#### Idem

In [32]:
rules3=association_rules(df_tickets_frequents, num_itemsets=len(df_tickets_frequents), metric = "lift", min_threshold = 1.0)
# Si la valeur de Lift > 1, on  retient la règle.
rules3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,1.0,0.0375,1.750000,0.250000,0.285714,0.428571,0.553846
1,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,1.0,0.0375,1.083333,0.535714,0.285714,0.076923,0.553846
2,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,1.0,0.0050,1.050000,0.035714,0.266667,0.047619,0.487179
3,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,1.0,0.0050,1.011111,0.071429,0.266667,0.010989,0.487179
4,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
5,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
6,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
7,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
8,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,1.0,0.1125,3.250000,0.750000,0.500000,0.692308,0.685714
9,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,1.0,0.1125,1.750000,0.865385,0.500000,0.428571,0.685714

In [33]:
rules3_bis=association_rules(df_tickets_frequents, num_itemsets=len(df_tickets), metric = "lift", min_threshold = 1.0)
# Si la valeur de Lift > 1, on  retient la règle.
rules3_bis

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,1.0,0.0375,1.750000,0.250000,0.285714,0.428571,0.553846
1,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,1.0,0.0375,1.083333,0.535714,0.285714,0.076923,0.553846
2,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,1.0,0.0050,1.050000,0.035714,0.266667,0.047619,0.487179
3,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,1.0,0.0050,1.011111,0.071429,0.266667,0.010989,0.487179
4,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
5,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
6,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
7,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
8,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,1.0,0.1125,3.250000,0.750000,0.500000,0.692308,0.685714
9,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,1.0,0.1125,1.750000,0.865385,0.500000,0.428571,0.685714

#### Si la valeur de Lift > 1, on  retient la règle.
Rappel : rules3 est un dataframe

In [34]:
rules3[rules3["lift"] > 1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,1.0,0.0375,1.750000,0.250000,0.285714,0.428571,0.553846
1,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,1.0,0.0375,1.083333,0.535714,0.285714,0.076923,0.553846
2,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,1.0,0.0050,1.050000,0.035714,0.266667,0.047619,0.487179
3,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,1.0,0.0050,1.011111,0.071429,0.266667,0.010989,0.487179
4,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
5,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
6,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,1.0,0.0800,1.800000,0.571429,0.400000,0.444444,0.583333
7,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,1.0,0.0800,1.400000,0.666667,0.400000,0.285714,0.583333
8,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,1.0,0.1125,3.250000,0.750000,0.500000,0.692308,0.685714
9,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,1.0,0.1125,1.750000,0.865385,0.500000,0.428571,0.685714